root = true

[*]
indent_style = tab
indent_size = 4
max_line_length=125
# don't automatically insert newline at end of file.
trim_trailing_whitespace = false
insert_final_newline = false

[*.cs]
indent_style = space

[*.cs.in]
indent_style = space