# Ignored files
*~
*.suo
*.sdf
*.opensdf
bin
obj
lib
Dependencies
Builds
Data/.version
Data/*
!Data/.reqversion
!Data/Raw/
Data/Raw/*
!Data/Raw/ShaderDependencies.json
!Data/Raw/DataList.json
!Data/Raw/GUISkin.json
!Data/Raw/Shaders/
!Data/Raw/Shaders/Includes/
!Data/Raw/.reqversion
!Data/Raw/DataPackageContents.txt
Documentation/Generated
Documentation/Manuals/docs/Images
Documentation/Manuals/static
Documentation/.version
Documentation/Timestamp.asset
/Build
*.aps
*.opendb
BsEngineConfig.h
BsFrameworkConfig.h
Source/Scripting/bsfSharp/bsfSharpCore.csproj
Source/Scripting/bsfSharp/MBansheeEngine.csproj
Source/Scripting/bsfSharp/EngineVersion.cs
Source/Scripting/bsfSharp/FrameworkVersion.cs
