/* Global */
body, table, div, p, dl {
	font: 14px/22px Lato,Roboto,sans-serif;
}

h1 {
	margin-top: 0.47em;
	margin-bottom: 0.07em;
	padding: 15px 0px 5px 0px;
	border-bottom: 2px solid rgba(89, 160, 195, 0.86);
}

h2 {
	margin-top: 0.37em;
	margin-bottom: 0.07em;
	padding: 10px 0px 5px 0px;
	border-bottom: 1px solid rgba(89, 160, 195, 0.86);
	font-size: 1.314rem !important;
}

h2.groupheader {
	border-bottom: 1px solid rgba(89, 160, 195, 0.86);
}

h3 {
	margin-top: 0.27em;
	margin-bottom: 0.07em;
	padding: 10px 0px 5px 0px;
	border-bottom: 1px dashed rgba(89, 160, 195, 0.86);
	font-size: 1.0rem !important;
}

a:visited {
	color: #4183c4;
}

.contents a:visited {
	color: #4183c4;
}

div.contents {
	margin: auto;
	width: 700px;
	padding-bottom: 170px;
}

/* Nav bar */
.tabs, .tabs2, .tabs3 {
	background-color: rgba(0, 0, 0, 0.8);
	background-image: none;
    font-family: Lato,'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	border-bottom: none;
	width: 700px;
	margin: auto;
}

.tablist li {
    background-image: none;
}

.tablist a {
	background-image: none;
	color: rgba(255, 255, 255, 1.0);
	background: transparent;
	text-shadow: none;
	font-weight: bold;
}

.tablist a:hover {
    background-image: none;
	color: rgba(255, 255, 255, 1.0);
	text-shadow: none;
}

.tablist li.current a {
    background-image: none;
	text-shadow: none;
}

.tablist li:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.tablist li:last-child:hover {
	background-color: rgba(0, 0, 0, 0);
}

/* Second nav bar */
.navpath ul {	
	background-color: rgba(222, 222, 222, 0.46);
	background-image: none;
	border: none;
	width: 700px;
	margin: auto;
}

.navpath li
{
	background-image: none;
}

.navpath li:last-child
{
	background-image: none;
	border-right: 0px;
}

.navpath li.navelem a {
	color: rgba(0, 0, 0, 0.65);
	text-shadow: none;
	font-family: Lato, 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	font-weight: bold;	
}

.navpath li.navelem a:hover {
	color:rgb(0, 0, 0);
	text-shadow: none;
}

.navpath li.navelem:hover {
	background-color:rgb(230, 230, 230);
}

/* Page header */
div.header {
	width: 700px;
	margin: auto auto 15px auto;
	background-image: none;
	border-bottom: 1px solid rgba(89, 160, 195, 0.86);
}

div.headertitle {
	padding: 3px 5px 3px 10px;
}

/* Members */
.memproto, dl.reflist dt {
	background-image: none;
	background-color: #F9FAFB;
	color: #000000;
	text-shadow: none;
	padding: 2px 0px 4px 0px;
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
	-moz-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
	-webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.memdoc, dl.reflist dd {
	padding: 1px 10px 2px 10px;
	border-bottom: 1px solid rgba(34,36,38,.15);
	border-left: 1px solid rgba(34,36,38,.15);
	border-right: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
	-moz-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
	-webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
	border-top-width: 0;
	background-image: none;
}

/* TOC */

div.toc li {
	font: 10px/1.2 Lato,Verdana,DejaVu Sans,Geneva,sans-serif;
}

div.toc h3 {
	font: bold 12px/1.2 Lato,Arial,FreeSans,sans-serif;
}

div.toc {
	margin: 0 10px 10px 10px;
}

/* Search */
#MSearchField {
    background-image: none;
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	top: -1px;
    font: 9pt Lato, Arial, Verdana, sans-serif;
}

#MSearchBox {
	margin-top: none;
	position: relative;
	left: 470px;
	top: 7px;
}

#MSearchBox .left {
	background-color: white;
    background-image: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 21px;
}

#MSearchBox .right {
	background-color: white;
    background-image: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position: relative;
	left: 142px;
}

#MSearchSelect {
	left: 2px;
}

#MSearchResultsWindow {
	margin-left: 85%;
	margin-top: 100px;
}

/* Other */

blockquote {
	border-left: 4px solid #ffb028;
	margin: 10px 8px 0 4px;
}

#titlearea {
	border-bottom: none;
}

.title {
	font: bold 24px/28px Lato,Roboto,sans-serif;
}

.icon {
	background-color: transparent;
	color: inherit;
}

table.directory {
    font: 400 14px Lato,Roboto,sans-serif;
}

table.doxtable {
	border-radius: .28571429rem;
	border-collapse: separate;
	border: 1px solid rgba(34, 36, 38, .15);
	border-spacing: 0px;
	background-color: #F9FAFB;
}

table.doxtable th {
	background-color: #F9FAFB;
	color: rgba(0,0,0,.87);
	border: none;
}

table.doxtable td {
	border: none;
	border-left: 1px solid rgba(34, 36, 38, .1);
}

table.doxtable td:first-child {
	border-left: none;
}

table.doxtable tr {
	border-left: 1px solid rgba(34, 36, 38, .1);
}

table.doxtable tr td {
	border-top: 1px solid rgba(34, 36, 38, .1);
}

table.doxtable tr:first-child td {
	border-top: 1px solid rgba(34, 36, 38, .1);
}

table.doxtable tbody tr:nth-child(2n) {
	background-color: #FFFFFF;
}

.paramname em {
	color: #000000;
}

.paramname em {
	font-style: italic;
}

.everything {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

span.mlabel {
	background-color: rgba(89, 160, 195, 0.86);
}

dl.note {
	border-color: rgba(89, 160, 195, 0.86);
}

div.fragment {
	margin: 4px 8px 14px 2px;
}

blockquote {
	margin-bottom: 1em;
}

#menuSegment {
    padding: 0;
    border-bottom: 5px solid #ffb028;
}

#footerSegment {
    border-top: 5px solid #ffb028;
}

#logoItem {
    padding-bottom: 0px;
    padding-top: 3px;
}

#logo {
    width: 55px;
}

#projectname
{
	font: 300% Lato, Tahoma, Arial,sans-serif;
	margin: 0px;
	padding: 2px 0px;
}

.caption {
	padding-bottom: 0.75rem;
}