#include "BsFrameworkConfig.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

1 VERSIONINFO
FILEVERSION    	BS_VERSION_MAJOR,BS_VERSION_MINOR,BS_VERSION_PATCH,0
PRODUCTVERSION 	BS_VERSION_MAJOR,BS_VERSION_MINOR,BS_VERSION_PATCH,0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",            "Marko Pintera and contributors"
            VALUE "FileDescription",        "Null audio plugin for bs::framework"
            VALUE "FileVersion",            BS_VERSION_STRING
            VALUE "ProductName",            "bs::framework"
            VALUE "Licence",                "Released under the MIT License"
            VALUE "LegalCopyright",         "Copyright (c) 2014-" _MKSTR(BS_CURRENT_RELEASE_YEAR) " Marko Pintera and contributors"
            VALUE "Info",                   "https://bsframework.io"
            VALUE "ProductVersion",         BS_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
